version: "3.9"

services:
  backend:
    container_name: pos-backend
    build:
      context: ./pos-backend
      dockerfile: Dockerfile
    ports:
      - "8081:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    networks:
      - pos-network

  frontend:
    container_name: pos-frontend
    build:
      context: ./pos-frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - pos-network

networks:
  pos-network:
    driver: bridge
